* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    justify-content: center;
}


    .container {
        width: 700px;
        padding: 60px;
        position: absolute;
        margin: 5% 30%;
        background-color: gray;
        border-radius: 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        text-align: center;
        /* gap: 20px; */
    
    }

.dice {
    display: flex;
    /* gap: 60px; */
    justify-content: space-around;
    width: 98%;
}

.p1 {
    position: absolute;
    left: 140px;
    top: 20px;
    font-size: 25px;
    background-color: bisque;
    color:darkred;
    border-radius: 5px;
    padding: 5px;
}

.p2 {
    position: absolute;
    right: 160px;
    top: 20px;
    font-size: 25px;
    background-color: bisque;
    color:darkred;
    border-radius: 5px;
    padding: 5px;
}

#die-1 {
    border-radius: 15px;
    margin: 20px 0;
}

#die-2 {
    border-radius: 15px;
    margin: 20px 0;
}

p {
    font-size: 30px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    color: rgb(7, 240, 7);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    width: 150px;
    right: 50%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: none;
    outline: none;
    background-color: rgb(158, 17, 17);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}